:root {
  --margin: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.card {
  position: relative;
  width: calc(100% - 40px);
  height: 80vh;
  margin: 10vh auto;
}

.outside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E0E0E0;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #E0E0E0;
  opacity: 0;
  visibility: hidden;
}

.outside__name {
  font-family: 'Great Vibes', cursive;
  font-size: 15vw;
  font-weight: 500;
}

.outside__and {
  font-size: 7.5vw;
  line-height: .5em;
  font-weight: 500;
}

.outside__date {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5vw;
  font-weight: 400;
}

.inside__name_first_letter_wrapper {
  position: relative;
  font-size: 10vw;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.inside__name_first_letter_wrapper__letter_first {
}

.inside__name_first_letter_wrapper__letter_second {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-25%);
}

.inside__name_wrapper {
  margin-bottom: 20px;
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  text-align: center;
}

.inside__name_wrapper__and {
  font-size: 10vw;
  line-height: 0.5em;
}

.inside__name_wrapper__name {
  font-size: 15vw;
}

.inside__hero_text {
  text-align: center;
  color: #9E9E9E;
  font-size: 3vw;
  padding: 0 20px;
}

.inside__family_name {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 20px;
}

.inside__address {
  font-size: 3vw;
  margin-bottom: 5px;
  text-align: center;
}

.inside__note {
  font-size: 3vw;
  text-align: center;
}

@media screen and (min-width: 721px) {
  .card {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .inside__name_wrapper__name {
    font-size: 10vw;
  }

  .inside__name_wrapper__and {
    font-size: 5vw;
  }
}